<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Node app</title>

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<style>
    
</style>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
