<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <% if(loggedIn) {%>
            <li><a href="/logout">Logout</a></li>
        <% } else {%>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        <% }%>
    </ul>
</nav>
