<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <header>
            <% include partials/nav %>
        </header>
        <main>
            <form action="/metrics" method="POST">
                <div class="form-group">
                    <label for="form_number">Timestamp</label>
                    <input id="form_number" type="number" name="timestamp" />
                </div>
                <div class="form-group">
                    <label for="form_number">Value</label>
                    <input id="form_number" type="number" name="value" />
                </div>
                <button
                    class="btn btn-primary btn-block"
                    type="submit"
                    value="Submit"
                >
                    Add or Update
                </button>
            </form>
        </main>
    </body>
</html>
