<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <header>
            <% include partials/nav %>
        </header>
        <main>
            <form action="/metrics/delete-one" method="POST">
                <div class="form-group">
                    <label for="form_number">Timestamp</label>
                    <input id="form_number" type="number" name="timestamp" />
                </div>
                <button
                    class="btn btn-primary btn-block"
                    type="submit"
                    value="Submit"
                >
                    Delete
                </button>
            </form>
            <hr />
            <form action="/metrics/delete" method="POST">
                <button
                    class="btn btn-danger btn-block"
                    type="submit"
                    value="submit"
                    onclick="return confirm('Are you sure ?');"
                >
                    Delete all metrics
                </button>
            </form>
        </main>
    </body>
</html>
