<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <header>
            <% include partials/nav %>
        </header>
        <main>
            <h2>Welcome</h2>
            <% if (loggedIn) {%>
            <hr \>
            <div>
                <button class="btn btn-primary" type=submit href="/add-metrics" onClick='document.location.href="/add-metrics"'>Add or update metric</button>
                <button class="btn btn-primary" type=submit href="/del-metrics" onClick='document.location.href="/del-metrics"'>Delete metrics</button>
                <button class="btn btn-primary" type=submit href="/get-metrics" onClick='document.location.href="/get-metrics"'>Show metrics</button>
                <button class="btn btn-primary" type=submit href="/metrics" onClick='document.location.href="/metrics"'>Show metrics (JSON)</button>
            </div>
            <% }%>
        </main>
    </body>
</html>
