<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <header>
            <% include partials/nav %>
        </header>
        <main>
            <p><%= message %></p>
            <hr />
            <button
                class="btn btn-success btn-block"
                type="submit"
                href="/"
                onClick='document.location.href="/"'
            >
                Return to home
            </button>
        </main>
    </body>
</html>
